body {
    background-color:rgb(195, 253, 255);
}

*{
    margin:7px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Calibri';
}

h1 {
    margin: 0px;
    color:blue;
    font-size: 50px;
}
h2 {
    color:blue;
}

.maior {
margin: 0px;
padding: 0px;
width: fit-content;
}

.menor {
display: inline-block;
background-color:rgb(195, 253, 255);
margin: 10px 0px;
padding: 10px;
width: fit-content;
border: solid 5px blue;
border-radius: 15px;
}

.paragrafo {
    color: blue;
    font-size: 20px;
    margin: 0 auto;
    width: fit-content;
}

button {
    color: blue;
    font-size: 20px;
}

#conta {
    color:blue;
    font-size: 22px;
    margin-left: 5px;
}

.caixa {
    color: blue;
    font-size: 15px;
    padding: 1px;
    }

.resposta {
margin: 1px 0px;
padding: 0px;
width: fit-content;
display: inline-block;
}
.paulo {
    color: blue;
    }